html {
  font-family: sourceHanSerif, "Source Han Serif SC", "Songti SC", "STSong", serif;
  font-size: 18px;
  color: #45423b;
  text-align: justify;
  scroll-behavior: smooth;
}
html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
a {
  color: #45423b;
}
a:hover {
  color: #a4352b;
}
blockquote {
  border-left: 4px solid #d8cfbd;
  margin: 0;
  padding-left: 1em;
  color: #6f6a5f;
}
iframe,
img,
video {
  max-width: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.875em;
  width: 100%;
  margin: 0 0 20px;
}
caption,
td,
th {
  padding: 8px;
  vertical-align: middle;
  border: 1px solid #d8cfbd;
}
caption {
  border: none;
}
th {
  border-bottom-width: 3px;
}
tbody tr:nth-of-type(odd) {
  background: $whitesoke-light;
}
figure figcaption {
  text-align: center;
  font-size: 0.8125em;
  color: $blak-lighter;
}
p img,
figure img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
